build/
package-lock.json
packages/react-error-overlay/fixtures/bundle*
packages/react-error-overlay/fixtures/inline*
packages/react-error-overlay/fixtures/junk*
packages/react-error-overlay/lib/
packages/react-error-overlay/coverage/
node_modules/
.eslintrc.json
babel.config.js
amplify
infra
public
dataimport
__mocks__
src/aws-exports.js
src/API.ts
src/graphql/
*.module.css